* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
  font-size: 15px;
}

window#waybar {
  background-color: #282828;
  color: #f9f5d7;
  transition: background-color 0.4s ease-out;
}

@keyframes blink {
  to {
    color: #f9f5d7;
  }
}

#workspaces button {
  padding: 0px 1px;
  background: transparent;
  color: #f9f5d7;
  border: none;
  transition: color 0.4s ease-in-out;
}

#workspaces button.active {
  color: #fabd2f;
}

#workspaces button.urgent {
  color: #fb4934;
  animation: blink 0.5s steps(12) infinite alternate;
}

#workspaces button.empty {
  opacity: 0.6;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#pulseaudio,
#battery,
#network,
#window,
#cpu {
  padding: 0px 8px;
}

#custom-expand-icon {
  padding-right: 6px;
}

#submap {
  padding: 0px 4px;
}

#battery {
  transition: color 0.3s ease-in-out;
}

#battery.charging,
#battery.plugged {
  color: #b8bb26;
}

#battery.critical:not(.charging) {
  color: #fb4934;
  animation: blink 0.5s steps(12) infinite alternate;
}
